$screen-sm-min: 320px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

//small device

@mixin sm {
	@media (min-width: #{$screen-sm-min}) {
		@content;
	}
}


//medium device

@mixin md {
	@media (min-width: #{$screen-md-min}) {
		@content;
	}
}

//large device

@mixin lg {
	@media (min-width: #{$screen-lg-min}) {
		@content;
	}
}


//xtra-large device

@mixin xl {
	@media (min-width: #{$screen-xl-min}) {
		@content;
	}
}
