//Color

// $primary-color
$overlay-color: rgba(24, 39, 51 , 0.85);
$heading-color: rgba(255, 243, 233, 1);
$secondary-color: rgba(138, 80, 56, 0.6);
$shadow-color: rgba(0, 0, 0, .8);
$white: #fff;
$social-color: #3494db;

